*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
nav{
    background:gainsboro;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}
.menu a{
    text-decoration: none;
    color: #ff2b85;
    font-size: bold;
    font-family: cursive;
    font-size: 20px;
    padding: 0 10px;
}